<div class="main-container">
  <img src="/app/src/images/Brand Logo Above Card.png" alt="Logo marca" class="brand-logo">
  

  <div class="login-wrap">
    <div class="login-card">

      <h2 style="text-align: center;">Welcome Back</h2>
      <label style="text-align: center;">Enter your credentials to access the platform</label>

      <div class="field">
        <label>Email</label>
        <input id="email" type="email" placeholder="admin@gmail.com | student@gmail.com">
      </div>

      <div class="field">
        <label>Password</label>
        <input id="password" type="password" placeholder="1234">
      </div>
      <label style="text-align: right;margin-top:10px; color:#1778FF">Forgot password?</label>
      <button class="btn-primary" style="width:100%; margin-top:10px"id="btnLogin">SIGN IN</button>
      <p style="text-align:center; font-size:13px; margin-top:15px">
        Don't have an account? <a href="#/register" style="color:var(--accent); font-weight:800; text-decoration: none;">Register</a>
      </p>
      
      <div class="error" id="error"></div>
    </div>
  </div>
</div>
